* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
--lilaspadrao: #8E7CC3;
--lilasdestaque:#6A5ACD;
--lilasclaro:#c7b8f7;
--rosapadrao: #f4a6b8;
--rosaclaro:#f8c8d8;
--rosaforte:#d97a9a;
--ouropadrao: #d4af37;
--ouroclaro:#e6c76e;
--fundoprincipal:#FFFFFF;
--fundoalternativo:#efefef;
--textoprincipal:#333333;
--textosecundario:#666666;

}

body {
    background-color: var(--fundoprincipal);  
    font-family: Arial, sans-serif;
  line-height: 1.6;
  color:var(--textoprincipal)
}
.container{
    width:90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header{
    background-color: var(--lilasdestaque);
    color:var(--fundoprincipal);
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    font-weight: bold;
    font-size: 30px;
}
.menu {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.menu-simbolo{
    display: none;
    font-size: 35px;
    cursor: pointer;
    background: var(--lilasdestaque);

}

.menu a {
    text-decoration: none;
    color:inherit;
    font-weight: 500;
}
ul{
    list-style: none;
}

.btn-doacao{
    background-color: var(--lilaspadrao);
    color:var(--fundoprincipal);
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}


.btn-doacao:hover{
    background-color: var(--rosaforte);
    color: var(--fundoprincipal);
    transform: translateY(-2px);
    text-decoration: none;
}

section{
    padding: 60px 0;
}

.quem-somos{
    background-color: var(--fundoprincipal);
}

.projetos{
    background-color: var(--lilasclaro);
}

.impacto{
    background-color: var(--fundoprincipal);
    
}
.depoimentos{
    background-color: var(--lilasclaro);
}
footer{
    background-color: var(--lilasdestaque);
    color:var(--fundoprincipal);
    padding: 20px 0;
    text-align: center;
}
@media(max-width:768px){
    header{
    position: relative;
    }
    .header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
    }
    .menu{
        background: var(--lilasdestaque);
        position: absolute;
        top:100%;
        left:0;
        display: none;
        flex-direction: column;
        color: inherit;
        width: 100%;
        padding: 20px;
        text-align: center;
        gap: 10px;
    }
    .menu-simbolo{
        position: relative;
        right: 20px;
        display:block;
        align-self: flex-end;
    }
    
    .menu.active{
        display:flex;
    }
    .logo{
        font-size: 24px;
    }
    section{
        padding: 40px 0;
    }
    
    }